// * {
//   border: 1px solid red;
// }
h1, h2, h3, h4, h5, h6, p, li, a {
  color: #4A4A4A !important;
  font-family: 'Roboto', sans-serif !important;
}

body {
  margin-top: 3em !important;
}

.b-lrg-margin {
  margin-bottom: 3em;
}

.b-med-margin {
  margin-bottom: 2em;
}

.b-sml-margin {
  margin-bottom: 1em;
}

ul.contact-list {
  list-style: none !important;
  margin-left: 0em;
}

.march-dev-logo {
  max-width: 300px;
  display: block;
  margin: auto;
  padding: 5px;
  margin-top: 0em;
  margin-bottom: 2em;
  border: 1px solid #4A4A4A;
  border-radius: 100%;
}

.list-item-focus {
  color: inherit;
  &:hover {
    font-weight: bold;
  }
}

.march-dev-info {
  text-align: center !important;
}

@media (max-width: 640px) {
  .march-dev-logo {
    max-width: 200px;
  }
}
